.header-container {
  padding-top: 16px;
  padding-bottom: 8px;
  text-align: center;

  background-image: url(../images/decor/header.png), url(../images/mobile/header-donuts.jpg);
  background-repeat: no-repeat;
  background-size: 50px, cover;
  background-position: left 38px top 104px, right 0;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/decor/header@2x.png), url(../images/mobile/header-donuts@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 43px;
    text-align: start;

    background-image: url(../images/decor/header.png), url(../images/tablet/header-donuts.jpg);
    background-repeat: no-repeat;
    background-size: 100px, cover;
    background-position: left 268px top 92px, center;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/decor/header@2x.png), url(../images/tablet/header-donuts@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 36px;
    padding-bottom: 90px;

    background-image: url(../images/decor/header.png), url(../images/desktop/header-donuts.jpg);
    background-repeat: no-repeat;
    background-size: 150px, cover;
    background-position: left 433px top 171px, center;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/decor/header@2x.png), url(../images/desktop/header-donuts@2x.jpg);
    }
  }
}
.header-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    align-items: center;
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 65px;
    justify-content: start;
  }
}
.site-nav {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 55px;
  }
}
.nav-site__list {
  @media screen and (min-width: 1200px) {
    display: flex;
    column-gap: 20px;
  }
}
.nav-site__link {
  padding: (4px 8px);
  @include font(400, 18px, 22px);
  color: #3c322d;
  transition: color var(--transition-dur-fun), background-color var(--transition-dur-fun), box-shadow var(--transition-dur-fun);
  &:hover,
  &:focus {
    color: var(--white-text-color);
    background-color: rgba(253, 86, 143, 0.86);
    box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
  }
}
.button-burger {
  background-color: inherit;
  border: none;
  padding: 0;
  //   transition: stroke var(--animation);
  fill: currentColor;

  //   stroke: var(--white-color);
  //   &:hover,
  //   &:focus {
  //     stroke: var(--yellow-default-color);
  //   }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.site-title {
  width: 280px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  @include font(600, 28px, 34px);
  letter-spacing: -0.03em;
  @media screen and (min-width: 768px) {
    width: 319px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: auto;
    @include font(600, 30px, 37px);
  }
  @media screen and (min-width: 1200px) {
    width: 757px;
    margin-bottom: 20px;
    @include font(600, 60px, 65px);
  }
}
.site-text {
  margin-bottom: 28px;
  font-family: Montserrat Alternates;
  @include font(500, 16px, 20px);
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
    font-family: Montserrat Alternates;
    @media screen and (min-width: 1200px) {
      margin-bottom: 28px;
      @include font(500, 24px, 29px);
    }
  }
}
.btn-header__reg {
  padding: 9px 35px;
  margin-bottom: 28px;
  @include font(400, 18px, 22px);
  color: var(--white-text-color);
  background-color: var(--default-btn-color);
  border: none;
  box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
  border-radius: 25px;
  transition: color var(--transition-dur-fun), background-color var(--transition-dur-fun);
  &:hover,
  &:focus {
    padding: 9px 47px;
    font-family: Caveat Brush;
    color: var(--white-text-color);
    background-color: var(--hover-btn-color);
  }
  @media screen and (min-width: 768px) {
    padding: 9px 31px;
    margin-bottom: 29px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 41px;
  }
}
.social-list {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}
.social-list__link {
  fill: var(--basic-text-color);
  transition: fill var(--transition-dur-fun);
  &:hover,
  &:focus {
    fill: var(--default-btn-color);
  }
}
